<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoReservadoMapper">

	<resultMap type='RecursoReservado' id='RecursoReservadoResult'>
		<id property='id' column='id' />
                <result property= 'recurso' column='recurso' />
                <result property= 'estudiante' column='estudiante' />
                <result property='inicio' column='inicio' />
                <result property='fin' column='fin' />
		<result property= 'activo' column='activo' />
               
		
	</resultMap>
	
	<select parameterType='map' id='consultarReserva' resultMap='RecursoReservadoResult' >
		SELECT
		re.id,
        re.recurso ,
        re.estudiante,
		re.inicio,
		re.fin,
		re.activo
		FROM 
		Recurso_Reservado as re
		WHERE
		re.recurso=#{idr} AND re.estudiante=#{ide}
	</select>
	
	<update parameterType='map' id='cancelarReserva'>
		update RECURSO_RESERVADO as reserva set activo=false
		where reserva.recurso=#{idr} AND reserva.estudiante=#{ide}
		
	</update>
	
	
</mapper>