<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper">
    <resultMap type='Recurso' id='RecursoResult'>
        <id property='identificador' column='id' />
        <result property='nombre' column='nombre' />
        <result property='tipo' column='tipo' />
        <result property='ubicacion' column='ubicacion' />
        <result property='estado' column='estado' />
        <result property='capacidad' column='capacidad' />
        <result property='disponibilidad' column='disponibilidad' />     
    </resultMap>
    <select id="consultarRecursosDisponibles" resultMap="RecursoResult">
        SELECT
        re.id,
        re.nombre,
        re.tipo,
        re.ubicacion,
        re.estado,
        re.capacidad,
        re.disponibilidad
        FROM
        Recurso as re
        WHERE
        re.estado=true
     </select>
       <select parameterType='map' id='consultarRecurso' resultMap='RecursoResult'>
        SELECT
        re.id,
        re.nombre,
        re.tipo,
        re.ubicacion,
        re.estado,
        re.capacidad,
        re.disponibilidad
        FROM
        Recurso as re
        <if test="ide != null">
            where re.id=#{ide}
        </if>
    </select>
      <select id="consultarRecursosNoDisponibles" resultMap="RecursoResult">
        SELECT
        re.id,
        re.nombre,
        re.tipo,
        re.ubicacion,
        re.estado,
        re.capacidad,
        re.disponibilidad
        FROM
        Recurso as re
        WHERE
        re.estado=false
     </select>    
    <select id="consultarRecursos" resultMap="RecursoResult">
        SELECT
        re.id,
        re.nombre,
        re.tipo,
        re.ubicacion,
        re.estado,
        re.capacidad,
        re.disponibilidad
        FROM
        Recurso as re
    </select>
    <insert parameterType="map" id="insertarRecurso">
        insert into Recurso (id,nombre,tipo,ubicacion,estado,capacidad,disponibilidad)
        values (#{recurso.identificador},#{recurso.nombre},#{recurso.tipo},#{recurso.ubicacion},#{recurso.estado},#{recurso.capacidad},#{recurso.disponibilidad})
    </insert>
    <update parameterType="map" id="cambiarEstado">
        update Recurso set estado=#{est}
        where id=#{ide}
    </update>
</mapper>
