<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReservaSimpleMapper">

    <resultMap type='ReservaSimple' id='ReservaSimpleResult'>
	<id property='id' column='id' />
	<result property='reserva' column='reserva' />
	<result property='estudiante' column='estudiante' />
        <result property='inicio' column='inicio' />
        <result property='fin' column='fin' />
	<result property= 'activo' column='activo' />		
    </resultMap>
             <select parameterType='map' id='consultarReservaSimples' resultMap='ReservaSimpleResult' >
		SELECT
		re.id ,
        re.reserva ,
		re.estudiante,
		re.inicio ,
		re.fin ,
		re.activo
		FROM 
		Reserva_Simple as re
		WHERE
		re.activo=True 
	</select>
	
	<select parameterType='map' id='consultarReservaSimpleConRecurso' resultMap='ReservaSimpleResult' >
		SELECT
		re.id ,
        re.reserva ,
		re.estudiante,
		re.inicio ,
		re.fin ,
		re.activo
		FROM 
		Reserva_Simple as re
		WHERE
		re.reserva=#{idr}  AND re.activo=True AND re.estudiante=#{ide}
	</select>
	
	<insert id="saveReservaSimple" parameterType="map" >
		insert into reserva_simple(reserva,estudiante,inicio, fin,activo) values (#{idr},#{ide},#{FechaI},#{FechaF},#{Activo});
	</insert>
	
	<update parameterType='map' id='cancelarReservaSimpleFutura'>
		update RESERVA_SIMPLE as reserva set activo=false
		where reserva.reserva=#{idr} AND reserva.estudiante=#{ide} AND reserva.inicio=#{fechaIni}
		
	</update>
	
</mapper>
